<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Acerca de mi</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Me llamo David Alejandro Patiño, soy psicólogo
           y me especializo en la psicología basada en la evidencia,
            lo que significa que utilizo técnicas y enfoques psicológicos
             que han demostrado ser efectivos a través de investigación científica rigurosa. </p>
      </div>
      <div class="col-lg-4">
        <p>Creo en la importancia de proporcionar un ambiente seguro y confiable para mis pacientes,
           así como en la importancia de la divulgación científica para luchar contra las pseudociencias
            y buscar bienestar integral para la sociedad.
             Mi objetivo como psicólogo es ayudar a comprender los pensamientos,
              emociones y comportamientos, compartiendo herramientas y estrategias
               para enfrentar las dificultades de manera efectiva. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://wa.me/message/DTLMV4VSDUUJI1" class="btn btn-lg btn-outline">
          <i class="fa-whatsapp"></i> Agenda conmigo
        </a>
      </div>
    </div>
  </div>
</section>
